<div class="container h-100 mt-4 ">
    <div class="row">
        <div class="col-4 h-100 ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"> user </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="table-active">1</th>
                        <th> <p id="lengthMessages"> </p> </th>
                    </tr>
                    <tr>
                        <th>1</th>
                    </tr>
                    <tr>
                        <th>1</th>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-8 ">
            <div class="row-10" id="boxMessages">
                {{!-- <div class="row m-2">
                    <div class="col-1 d-flex text-center">
                        <!-- <img width="50" src="https://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/512/users-icon.png" alt=""> -->
                        <img class="align-self-center" width="45"
                            src="https://es.seaicons.com/wp-content/uploads/2015/07/user-icon1.png" alt="">
                    </div>
                    <div class="col-9 ">
                        <p><b> User</b></p>
                        <p class="btn btn-secondary"> hola </p>
                        <p class="font-weight-light text-center">Hace dos minutos</p>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-1">
                    </div>
                    <div class="col-9">
                        <p class="text-end"><b> User</b></p>
                        <div class="text-right">
                            <p class="btn btn-primary"> hola como andas </p>
                        </div>
                        <p class="font-weight-light text-center">Hace dos minutos</p>
                    </div>
                    <div class="col-1 d-flex text-center">
                        <img class="align-self-center" width="45"
                            src="https://es.seaicons.com/wp-content/uploads/2015/07/user-icon1.png" alt="">
                    </div>
                </div> --}}
            </div>
            <div class="row-2 mt-4">
                <form id="form-message" class="row">
                    <div class="col-10 ">
                        <input id="message" class="form-control" type="text" placeholder="Mensaje">
                    </div>
                    <div class="col-1 ">
                        <input  class="btn btn-success" type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>